[user]
	name = R. Potter
	email = rjspotter@gmail.com
[branch "master"]
    # This is the list of cmdline options that should be added to git-merge                                     
    # when I merge commits into the master branch.                                                              
    #                                                                                                           
    # Option --no-ff instructs git to always record a merge commit, even if                                     
    # the branch being merged into can be fast-forwarded. This is often the                                     
    # case when you create a short-lived topic branch which tracks master, do                                   
    # some changes on the topic branch and then merge the changes into the                                      
    # master which remained unchanged while you were doing your work on the                                     
    # topic branch. In this case the master branch can be fast-forwarded (that                                  
    # is the tip of the master branch can be updated to point to the tip of                                     
    # the topic branch) and this is what git does by default. With --no-ff                                      
    # option set git creates a real merge commit which records the fact that                                    
    # another branch was merged. I find this easier to understand and read in                                   
    # the log.                                                                                                  
    mergeoptions = --no-ff
[gihub]
	user = rjspotter
[github]
	user = rjspotter
[core]
	excludesfile = /home/rjspotter/.gitignore
[color]
	status = auto
	branch = auto
	log = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[merge]
  tool = meld
