{:user {:dependencies [[org.clojure/tools.nrepl "0.2.11"]]
        :plugins [[lein-immutant "2.1.0"] [cider/cider-nrepl "0.15.0-SNAPSHOT"]]}}
;;{:user {:plugins [[cider/cider-nrepl "0.8.0-SNAPSHOT"]]}}
